<section class="content wrap documentationContent">
  <!-- {% include nav_docs.html %} -->

  <div class="inner-content">
    <h1>
      <%= page.title %>
      <a class="edit-page-link" href="https://github.com/facebook/react/tree/master/docs/<%= page.path %>" target="_blank">Edit on GitHub</a>
    </h1>
    <% if (page.description) { %>
      <div class="subHeader"><%= page.description %></div>
    <% } %>

    <%- page.content %>

    <div class="docs-prevnext">
      <% if (page.prev) { %>
        <a class="docs-prev" href="/react/docs/<%= page.prev %>">&larr; Prev</a>
      <% } %>
      <% if (page.next) { %>
        <a class="docs-next" href="/react/docs/<%= page.next %>">Next &rarr;</a>
      <% } %>
    </div>
  </div>
</section>
